<div fxLayout="column">
    <div class="header {{color}} p-20 h-80" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="center start">
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="secondary-text s-18">{{icon}}</mat-icon>
                <mat-icon class="secondary-text s-16">chevron_right</mat-icon>
                <span class="secondary-text span-padding">{{section | titlecase}}</span>
            </div>
            <div class="h1 m-0">{{title}}</div>
        </div>
    </div>    
</div>
