<fuse-widget
    class="widget"
    fxLayout="column"
    fxFlex="100"
>
    <!-- Front -->
    <div class="fuse-widget-front">
        <div
            class="pl-16 pr-8 py-16 h-52"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >
        </div>

        <div class="pt-8 pb-32" fxLayout="column" fxLayoutAlign="center center">
            <div class="{{ numberFg }} font-size-72 line-height-72">{{ statsNumber }}</div>
            <div class="h3 secondary-text font-weight-500">{{ title }}</div>
        </div>
    </div>
    <!-- / Front -->
</fuse-widget>
