<div fxFlex="100" class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" style="width: 100%;">
        <!-- Position Column -->
        <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef>No.</th>
            <td mat-cell *matCellDef="let element; index as i">
                {{ i + 1 }}
            </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Nombre">
            <th mat-header-cell *matHeaderCellDef>Producto</th>
            <td mat-cell *matCellDef="let element">
                {{ element.Nombre }}
            </td>
        </ng-container>

        <!-- Brand Column -->
        <ng-container matColumnDef="IDMarca">
            <th mat-header-cell *matHeaderCellDef>Marca</th>
            <td mat-cell *matCellDef="let element">
                {{ element.IDMarca }}
            </td>
        </ng-container>

        <!-- Category Column -->
        <ng-container matColumnDef="IDCategoria">
            <th mat-header-cell *matHeaderCellDef>Categoria</th>
            <td mat-cell *matCellDef="let element">
                {{ element.IDCategoria }}
            </td>
        </ng-container>

        <!-- Unit price Column -->
        <ng-container matColumnDef="PrecioUnitario">
            <th mat-header-cell *matHeaderCellDef>Precio Unitario</th>
            <td mat-cell *matCellDef="let element">
                {{ element.PrecioUnitario | currency: "L. " }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    <mat-paginator
        fxLayoutAlign="end center"
        style="width: 100%"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
    ></mat-paginator>
</div>
<!-- <app-loading-overlay [isActive]="loading"></app-loading-overlay>
<div
    id="wrapper-background"
    class="page-layout simple fullwidth white-background"
    fxLayout="column"
>
    <app-title-header
        [icon]="'assistant'"
        [section]="'Productos'"
        [title]="'Listado'"
    ></app-title-header>

    <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="row" fxFlex="100" class="m-36">
            
            <mat-paginator
            [pageSizeOptions]="[5, 10, 20]"
            showFirstLastButtons
        ></mat-paginator>
        </div>
    </div>
</div> -->
