.select-provider {
    width: 100%;
    display: block;
    mat-form-field {
        width: 100%;
    }
}

.purchase-order-features {
    margin: 1%;

    mat-form-field {
        width: 100%;
    }
}

td mat-form-field {
    font-size: 12px;
    width: 98%;
    padding: 0 2%;
}

.summary-body {
    margin: 1%;
}

// Column details styles
.mat-column-Posicion {
	word-wrap: break-word !important;
	white-space: unset !important;
	// flex: 0 0 5% !important;
	width: 5% !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.mat-column-IDProducto {
	word-wrap: break-word !important;
	white-space: unset !important;
	// flex: 0 0 5% !important;
	width: 27% !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.mat-column-IDUnidadMedida {
	word-wrap: break-word !important;
	white-space: unset !important;
	// flex: 0 0 5% !important;
	width: 20% !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.mat-column-Cantidad {
	word-wrap: break-word !important;
	white-space: unset !important;
	// flex: 0 0 5% !important;
	width: 6% !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.mat-column-PrecioCompra {
	word-wrap: break-word !important;
	white-space: unset !important;
	// flex: 0 0 5% !important;
	width: 16% !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.mat-column-TotalUnidadCompra {
	word-wrap: break-word !important;
	white-space: unset !important;
	// flex: 0 0 5% !important;
	width: 16% !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.mat-column-Actions {
	word-wrap: break-word !important;
	white-space: unset !important;
	// flex: 0 0 5% !important;
	width: 10% !important;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
