.select-provider {
    width: 100%;
    display: block;
    mat-form-field {
        width: 100%;
    }
}

.purchase-order-features {
    margin: 1%;

    mat-form-field {
        width: 100%;
    }
}