<app-loading-overlay [isActive]="loading"></app-loading-overlay>
<div class="page-layout simple fullwidth" fxLayout="column">
    <app-title-header
        [icon]="'assistant'"
        [section]="'Órdenes de venta'"
        [title]="'Nueva orden de venta'"
    ></app-title-header>

    <!--
      -- ─── PURCHASE ORDER BODY ────────────────────────────────────────────────────────
      -->
    <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="100" class="m-36">
            <mat-card>
                <form [formGroup]="saleOrderForm">
                    <!--
                      -- PURCHASE ORDER HEADER
                      -->
                    <div fxLayout="row">
                        <div
                            fxLayout="column"
                            fxLayoutAlign="center start"
                            fxFlex="50"
                        >
                            <button mat-mini-fab routerLink="..">
                                <mat-icon>arrow_back</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div fxLayout="row" fxLayout.xs="column">
                        <div
                            fxLayout="column"
                            fxLayoutAlign="center start"
                            fxFlex="50"
                        >
                            <img src="assets/images/logos/fuse.svg" alt="" />
                        </div>
                        <div
                            fxLayout="column"
                            fxLayoutAlign="end end"
                            fxFlex="50"
                        >
                            <div class="select-customer">
                                <div fxLayout="row">
                                    <div
                                        fxLayout="column"
                                        fxLayoutAlign="center start"
                                        fxFlex="50"
                                    >
                                        <span class="mat-subheading-2"
                                            ><strong
                                                >Informacion del
                                                cliente</strong
                                            ></span
                                        >
                                    </div>
                                    <!-- <div
                                        fxLayout="column"
                                        fxLayoutAlign="center end"
                                        fxFlex="50"
                                        *ngIf="viewModeSaleOrder === 2"
                                    >
                                        <button
                                            mat-mini-fab
                                            (click)="addInvoiceCustomerDialog()"
                                        >
                                            <mat-icon>person_add</mat-icon>
                                        </button>
                                    </div> -->
                                </div>
                                <div fxLayout="row">
                                    <mat-form-field
                                        *ngIf="viewModeSaleOrder === 2"
                                    >
                                        <mat-label>Cliente</mat-label>
                                        <mat-select
                                            formControlName="IdCliente"
                                            #clienteSelect
                                        >
                                            <!-- <mat-option #customerOption>
                                                <ngx-mat-select-search
                                                    [formControl]="filterSelect"
                                                    placeholderLabel="Busqueda"
                                                    noEntriesFoundLabel="No hay registros disponibles"
                                                ></ngx-mat-select-search>
                                            </mat-option> -->
                                            <mat-option
                                                *ngFor="
                                                    let customer of customers
                                                "
                                                [value]="customer.IdCliente"
                                            >
                                                {{ customer.Nombre }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="
                                                saleOrderForm.get('IdCliente')
                                                    .errors
                                            "
                                        >
                                            Los datos del cliente son requeridos
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div fxLayout="row">
                        <div
                            fxLayout="column"
                            fxLayoutAlign="start start"
                            fxFlex="50"
                        >
                            <div><strong>RTN: </strong>05011955522252</div>
                            <div>
                                <strong>Direccion: </strong>San Pedro Sula,
                                Honduras
                            </div>
                            <div>
                                <strong>Email: </strong
                                >bodeguitabendicion@gmail.com
                            </div>
                            <div><strong>Telefono: </strong>98989898</div>
                        </div>
                        <div
                            fxLayout="column"
                            fxLayoutAlign="start start"
                            fxFlex="50"
                        >
                            <!--
                          -- CREATE
                          -->
                            <div
                                *ngIf="
                                    viewModeSaleOrder === 2 && saleOrderCustomer
                                "
                            >
                                <div>
                                    <strong>Correo: </strong
                                    >{{ saleOrderCustomer.Correo }}
                                </div>
                            </div>
                            <!--
                          -- EDIT
                          -->
                            <!-- <div
                                *ngIf="
                                    invoiceDetail &&
                                    invoiceDetail.customer &&
                                    viewModeSaleOrder === 1
                                "
                            >
                                <strong>Dirección: </strong
                                >{{
                                    purchaseOrderProvider.Direccion
                                }}
                                <strong>Telefono: </strong
                                >{{
                                    purchaseOrderProvider.Telefono
                                }}
                            </div> -->
                        </div>
                    </div>
                    <!--
                      -- PURCHASE ORDER FEATURES
                      -->
                    <div fxLayout="row" fxLayout.xs="column">
                        <div
                            fxLayout="row"
                            fxFlex="33"
                            class="sale-order-features"
                        >
                            <div style="width: 100%">
                                <!--
                                  -- CREATE
                                  -->
                                <div *ngIf="viewModeSaleOrder === 2">
                                    <span class="mat-subheading-2"
                                        ><strong>Forma de pago</strong></span
                                    >
                                    <div fxLayout="row">
                                        <mat-form-field>
                                            <mat-label>Pago</mat-label>
                                            <mat-select formControlName="Tipo">
                                                <mat-option
                                                    *ngFor="
                                                        let payment of paymentMethod
                                                            | keyvalue
                                                    "
                                                    [value]="payment.value"
                                                >
                                                    {{ payment.value }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error
                                                *ngIf="
                                                    saleOrderForm.get('Tipo')
                                                        .errors
                                                "
                                            >
                                                La forma de pago es requerida
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            fxLayout="row"
                            fxFlex="33"
                            class="sale-order-features"
                        >
                            <div style="width: 100%">
                                <!--
                              -- CREATE
                              -->
                                <div *ngIf="viewModeSaleOrder === 2">
                                    <span class="mat-subheading-2"
                                        ><strong
                                            >Fecha expectativa de salida</strong
                                        ></span
                                    >
                                    <div fxLayout="row">
                                        <mat-form-field>
                                            <input
                                                matInput
                                                [matDatepicker]="expectOutDate"
                                                (dateInput)="
                                                    inputExpectOutDate($event)
                                                "
                                                readonly
                                                formControlName="fechaSalida"
                                            />
                                            <mat-datepicker-toggle
                                                matSuffix
                                                [for]="expectOutDate"
                                            ></mat-datepicker-toggle>
                                            <mat-datepicker
                                                #expectOutDate
                                            ></mat-datepicker>
                                            <mat-error
                                                *ngIf="
                                                    saleOrderForm.get(
                                                        'fechaSalida'
                                                    ).errors
                                                "
                                            >
                                                La fecha expectativa de salida
                                                es requerida
                                            </mat-error>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            fxLayout="row"
                            fxFlex="33"
                            class="sale-order-features"
                        >
                            <div style="width: 100%">
                                <!--
                                  -- CREATE
                                  -->
                                <div *ngIf="viewModeSaleOrder === 2">
                                    <span class="mat-subheading-2"
                                        ><strong>Descuento (%)</strong></span
                                    >
                                    <div fxLayout="row">
                                        <mat-form-field>
                                            <mat-label>Descuento</mat-label>
                                            <mat-select
                                                (selectionChange)="
                                                    updateFooterSummary()
                                                "
                                                formControlName="IdDescuento"
                                            >
                                                <mat-option [value]="0"
                                                    >0%</mat-option
                                                >
                                                <mat-option [value]="0.05"
                                                    >5%</mat-option
                                                >
                                                <mat-option [value]="0.1"
                                                    >10%</mat-option
                                                >
                                                <mat-option [value]="0.15"
                                                    >15%</mat-option
                                                >
                                                <!-- <mat-option
                                                    *ngFor="
                                                        let payment of paymentMethod
                                                            | keyvalue
                                                    "
                                                    [value]="payment.value"
                                                >
                                                    {{ payment.value }}
                                                </mat-option> -->
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--
                              -- PURCHASE ORDER DETAIL
                              -->
                    <div fxLayout="column" class="mx-12 mt-12">
                        <table
                            mat-table
                            formArrayName="detalleOrdenVenta"
                            [dataSource]="dataSource"
                        >
                            <!-- Position Column -->
                            <ng-container matColumnDef="Posicion">
                                <th mat-header-cell *matHeaderCellDef>#</th>
                                <td
                                    mat-cell
                                    *matCellDef="let element; index as i"
                                >
                                    {{ i + 1 }}
                                </td>
                            </ng-container>

                            <!-- Product Column -->
                            <ng-container matColumnDef="IDProducto">
                                <th mat-header-cell *matHeaderCellDef>
                                    Producto
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element; index as i"
                                    [formGroupName]="i"
                                >
                                    <mat-form-field
                                        *ngIf="viewModeSaleOrder === 2"
                                    >
                                        <mat-label>Producto</mat-label>
                                        <mat-select
                                            formControlName="IDProducto"
                                            (selectionChange)="
                                                calculateDetailList(i)
                                            "
                                        >
                                            <mat-option
                                                *ngFor="let product of products"
                                                [value]="product.IDProducto"
                                            >
                                                {{
                                                    product.IDMarca +
                                                        " " +
                                                        product.IDDimension
                                                }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- Unidad de medida Column -->
                            <ng-container matColumnDef="IDUnidadMedida">
                                <th mat-header-cell *matHeaderCellDef>
                                    Unidad de medida
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element; index as i"
                                    [formGroupName]="i"
                                >
                                    <mat-form-field
                                        *ngIf="viewModeSaleOrder === 2"
                                    >
                                        <mat-label>Unidad de medida</mat-label>
                                        <mat-select
                                            formControlName="IDUnidadMedida"
                                            (selectionChange)="
                                                calculateDetailList(i)
                                            "
                                        >
                                            <mat-option
                                                *ngFor="
                                                    let measureUnit of measureUnits
                                                "
                                                [value]="
                                                    measureUnit.IdUnidadesMedidas
                                                "
                                            >
                                                {{ measureUnit.Nombre }}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- Unit price Column -->
                            <ng-container matColumnDef="PrecioVenta">
                                <th mat-header-cell *matHeaderCellDef>
                                    Precio de venta
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element; index as i"
                                    [formGroupName]="i"
                                >
                                    L.
                                    {{
                                        (productSelected
                                            ? productSelected.PrecioVenta
                                            : 0
                                        ) | number: "0.2-2"
                                    }}
                                </td>
                            </ng-container>

                            <!-- Quantity Column -->
                            <ng-container matColumnDef="Cantidad">
                                <th mat-header-cell *matHeaderCellDef>
                                    Cantidad
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element; index as i"
                                    [formGroupName]="i"
                                >
                                    {{
                                        viewModeSaleOrder === 1
                                            ? (element.Cantidad
                                              | number: "0.2-2")
                                            : ""
                                    }}
                                    <mat-form-field
                                        *ngIf="viewModeSaleOrder === 2"
                                    >
                                        <input
                                            matInput
                                            type="text"
                                            formControlName="Cantidad"
                                            (keyup)="calculateDetailList(i)"
                                            pattern="^\d+(\.\d{1,2})?$"
                                            digitOnly
                                            [decimal]="true"
                                        />
                                    </mat-form-field>
                                </td>
                            </ng-container>

                            <!-- Subtotal Column -->
                            <ng-container matColumnDef="TotalUnidadVenta">
                                <th mat-header-cell *matHeaderCellDef>
                                    Total unidad venta
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element; index as i"
                                    [formGroupName]="i"
                                >
                                    L.
                                    {{
                                        (viewModeSaleOrder === 2 &&
                                        details[i].TotalUnidadVenta
                                            ? details[i].TotalUnidadVenta
                                            : 0
                                        ) | number: "0.2-2"
                                    }}
                                </td>
                            </ng-container>

                            <!-- Actions Column -->
                            <ng-container matColumnDef="Actions">
                                <th mat-header-cell *matHeaderCellDef>
                                    {{
                                        viewModeSaleOrder === 2 ? "Accion" : ""
                                    }}
                                </th>
                                <td
                                    mat-cell
                                    *matCellDef="let element; index as i"
                                    [formGroupName]="i"
                                >
                                    <button
                                        *ngIf="viewModeSaleOrder === 2"
                                        mat-icon-button
                                        color="warn"
                                        (click)="deleteProduct(i)"
                                    >
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <tr
                                mat-header-row
                                *matHeaderRowDef="displayedColumns"
                            ></tr>
                            <tr
                                mat-row
                                *matRowDef="let row; columns: displayedColumns"
                            ></tr>
                        </table>
                        <!-- CUSTOM TOOLBAR ADD PRODUCT -->
                        <mat-toolbar
                            style="background: white"
                            *ngIf="viewModeSaleOrder === 2"
                        >
                            <mat-toolbar-row style="padding: 0%">
                                <button
                                    mat-mini-fab
                                    class="accent"
                                    (click)="addProduct()"
                                >
                                    <mat-icon style="color: white"
                                        >add</mat-icon
                                    >
                                </button>
                            </mat-toolbar-row>
                        </mat-toolbar>
                    </div>
                    <!--
                      -- PURCHASE ORDER SUMMARY
                      -->
                    <div
                        fxLayout="row"
                        fxLayout.xs="column"
                        class="summary-body"
                        fxLayoutAlign="end center"
                    >
                        <div fxLayout="row" style="width: 50%">
                            <!--
                                  -- SUMMARY LEFT SIDE
                                  -->
                            <div
                                fxLayout="column"
                                fxLayoutAlign="start end"
                                fxFlex="50"
                            >
                                <div class="left-align">
                                    <span class="mat-subheading-2"
                                        ><strong>Subtotal</strong></span
                                    >
                                </div>
                                <div class="left-align">
                                    <span class="mat-subheading-2"
                                        ><strong
                                            >Descuentos y rebajas</strong
                                        ></span
                                    >
                                </div>
                                <div class="left-align">
                                    <span class="mat-subheading-2"
                                        ><strong>Impuesto</strong></span
                                    >
                                </div>
                                <div class="left-align">
                                    <span class="mat-subheading-2"
                                        ><strong>Total</strong></span
                                    >
                                </div>
                            </div>
                            <!--
                                  -- SUMMARY RIGHT SIDE
                                  -->
                            <div
                                fxLayout="column"
                                fxLayoutAlign="start end"
                                fxFlex="50"
                            >
                                <div class="right-align">
                                    <span class="mat-subheading-2">
                                        L.
                                        {{
                                            (saleOrderForm.get("SubTotal").value
                                                ? saleOrderForm.get("SubTotal")
                                                      .value
                                                : 0
                                            ) | number: "0.2-2"
                                        }}
                                    </span>
                                </div>
                                <div class="right-align">
                                    <span class="mat-subheading-2">
                                        L.
                                        {{
                                            (saleOrderForm.get("MontoDescuento")
                                                .value
                                                ? saleOrderForm.get(
                                                      "MontoDescuento"
                                                  ).value
                                                : 0
                                            ) | number: "0.2-2"
                                        }}
                                    </span>
                                </div>
                                <div class="right-align">
                                    <span class="mat-subheading-2">
                                        L.
                                        {{
                                            (saleOrderForm.get("Impuesto").value
                                                ? saleOrderForm.get("Impuesto")
                                                      .value
                                                : 0
                                            ) | number: "0.2-2"
                                        }}
                                    </span>
                                </div>
                                <div class="right-align">
                                    <span class="mat-subheading-2">
                                        L.
                                        {{
                                            (saleOrderForm.get("Total").value
                                                ? saleOrderForm.get("Total")
                                                      .value
                                                : 0
                                            ) | number: "0.2-2"
                                        }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <mat-card-actions
                        fxLayout="row"
                        fxLayoutAlign="end center"
                        style="padding: 1%"
                    >
                        <button
                            *ngIf="viewModeSaleOrder === 2"
                            mat-stroked-button
                            color="primary"
                            (click)="clear()"
                        >
                            Nuevo
                        </button>
                        <button
                            *ngIf="viewModeSaleOrder === 2"
                            mat-raised-button
                            color="primary"
                            [disabled]="saleOrderForm.invalid"
                            (click)="saveSaleOrder()"
                        >
                            Guardar
                        </button>
                    </mat-card-actions>
                </form>
            </mat-card>
        </div>
    </div>
</div>
