<div
    class="page-layout simple fullwidth"
    fxLayout="column"
>
    <app-title-header
        [icon]="'assistant'"
        [section]="'Accesos directos'"
        [title]="'Inventario'"
    ></app-title-header>

    <div fxLayout="row" fxLayout.xs="column" fxFlex="50">
        <div fxLayout="row" fxFlex="100" class="m-36">
            <div fxLayout="column" fxFlex="33" class="mx-12">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="avatar-icon">
                            <mat-icon>list_alt</mat-icon>
                        </div>
                        <mat-card-title>Productos</mat-card-title>
                        <mat-card-subtitle>Inventario</mat-card-subtitle>
                    </mat-card-header>
                    <img
                        mat-card-image
                        src="../../../assets/images/inventory/1-Inventario Productos.jpeg"
                        alt="Photo of a Shiba Inu"
                    />
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing
                            elit, primis malesuada libero etiam senectus felis
                            eget, aliquam cubilia integer augue ligula vitae.
                            Phasellus potenti parturient aliquet non ad, nec
                            arcu facilisis pellentesque, placerat turpis velit
                            per.
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
                        <button mat-raised-button color="primary" routerLink="products">
                            Listado
                        </button>
                        <!-- <button mat-button>SHARE</button> -->
                    </mat-card-actions>
                </mat-card>
            </div>
            <div fxLayout="column" fxFlex="33" class="mx-12">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="avatar-icon">
                            <mat-icon>list_alt</mat-icon>
                        </div>
                        <mat-card-title>Almacén</mat-card-title>
                        <mat-card-subtitle>Inventario</mat-card-subtitle>
                    </mat-card-header>
                    <img
                        mat-card-image
                        src="../../../assets/images/inventory/data-processing.svg"
                        alt="Photo of a Shiba Inu"
                    />
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing
                            elit, primis malesuada libero etiam senectus felis
                            eget, aliquam cubilia integer augue ligula vitae.
                            Phasellus potenti parturient aliquet non ad, nec
                            arcu facilisis pellentesque, placerat turpis velit
                            per.
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
                        <button mat-raised-button color="primary" routerLink="warehousing">
                            Listado
                        </button>
                        <!-- <button mat-button>SHARE</button> -->
                    </mat-card-actions>
                </mat-card>
            </div>
            <!-- <div fxLayout="column" fxFlex="33" class="mx-12">
                <mat-card>
                    <mat-card-header>
                        <div mat-card-avatar class="avatar-icon">
                            <mat-icon>list_alt</mat-icon>
                        </div>
                        <mat-card-title>Ventas</mat-card-title>
                        <mat-card-subtitle>Órdenes</mat-card-subtitle>
                    </mat-card-header>
                    <img
                        mat-card-image
                        src="../../../assets/images/inventory/data-processing.svg"
                        alt="Photo of a Shiba Inu"
                    />
                    <mat-card-content>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipiscing
                            elit, primis malesuada libero etiam senectus felis
                            eget, aliquam cubilia integer augue ligula vitae.
                            Phasellus potenti parturient aliquet non ad, nec
                            arcu facilisis pellentesque, placerat turpis velit
                            per.
                        </p>
                    </mat-card-content>
                    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
                        <button mat-raised-button color="primary">
                            Listado
                        </button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions>
                </mat-card>
            </div> -->
        </div>
    </div>
</div>
