<app-loading-overlay [isActive]="loading"></app-loading-overlay>
<div class="page-layout simple fullwidth" fxLayout="column">
    <app-title-header
        [icon]="'assistant'"
        [section]="'Productos'"
        [title]="'Nuevo producto'"
    ></app-title-header>

    <div fxLayout="row" fxLayout.xs="column">
        <div fxLayout="column" fxFlex="40" class="m-36">
            <mat-card>
                <mat-card-title> Datos del producto </mat-card-title>

                <form
                    [formGroup]="productForm"
                >
                        <mat-form-field appearance="outline">
                            <mat-label>Marca</mat-label>
                            <mat-select formControlName="Idmarca">
                                <mat-option
                                    *ngFor="let marca of brands"
                                    [value]="marca.IdMarca"
                                    >{{ marca.Nombre }}</mat-option
                                >
                            </mat-select>

                            <mat-error
                                *ngIf="
                                    productForm
                                        .get('Idmarca')
                                        .hasError('required')
                                "
                            >
                                La marca es requerida
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Categoría</mat-label>
                            <mat-select formControlName="Idcategoria">
                                <mat-option
                                    *ngFor="let categoria of categories"
                                    [value]="categoria.IdCateogira"
                                    >{{ categoria.Nombre }}</mat-option
                                >
                            </mat-select>

                            <mat-error
                                *ngIf="
                                    productForm
                                        .get('Idcategoria')
                                        .hasError('required')
                                "
                            >
                                La categoría es requerida
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline">
                            <mat-label>Dimensión</mat-label>
                            <mat-select formControlName="Iddimension">
                                <mat-option
                                    *ngFor="let dimension of dimensions"
                                    [value]="dimension.IdDimension"
                                    >{{ dimension.Nombre }}</mat-option
                                >
                            </mat-select>

                            <mat-error
                                *ngIf="
                                    productForm
                                        .get('Iddimension')
                                        .hasError('required')
                                "
                            >
                                La dimension es requerida
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="">
                            <mat-label>Precio de compra</mat-label>
                            <input
                                matInput
                                type="text"
                                formControlName="PrecioCompra"
                                pattern="^\d+(\.\d{1,2})?$"
                                digitOnly
                                [decimal]="true"
                            />
                            <mat-icon matSuffix>attach_money</mat-icon>
                        </mat-form-field>

                        <mat-form-field appearance="outline" class="">
                            <mat-label>Precio de venta</mat-label>
                            <input
                                matInput
                                type="text"
                                formControlName="PrecioVenta"
                                pattern="^\d+(\.\d{1,2})?$"
                                digitOnly
                                [decimal]="true"
                            />
                            <mat-icon matSuffix>attach_money</mat-icon>
                        </mat-form-field>

                        <mat-card-actions
                            fxLayout="row"
                            fxLayoutAlign="end center"
                        >
                            <button
                                mat-stroked-button
                                color="primary"
                                routerLink=".."
                            >
                                Cancelar
                            </button>
                            <button
                                mat-raised-button
                                color="primary"
                                (click)="onSubmit(productForm.value)"
                                [disabled]="productForm.invalid"
                            >
                                Guardar
                            </button>
                        </mat-card-actions>
                </form>
            </mat-card>
        </div>
    </div>
</div>
