<div
    class="page-layout simple fullwidth"
    fxLayout="column"
>
    <app-title-header
        [icon]="'assistant'"
        [section]="'Accesos directos'"
        [title]="'Órdenes'"
    ></app-title-header>

    <div fxLayout="row" fxLayout.xs="column" fxFlex="100">
        <div fxLayout="row" fxFlex="100" class="m-36">
            <div fxLayout="column" fxFlex="25" class="mx-12">
                <mat-card class="mat-elevation-z8">
                    <mat-card-header>
                        <div mat-card-avatar class="avatar-icon">
                            <mat-icon>list_alt</mat-icon>
                        </div>
                        <mat-card-title>Compras</mat-card-title>
                        <mat-card-subtitle>Órdenes</mat-card-subtitle>
                    </mat-card-header>
                    <img
                        mat-card-image
                        src="assets/images/inventory/1-Inventario Productos.jpeg"
                        alt="Photo of a Shiba Inu"
                    />
                    <mat-card-actions fxLayout="row" fxLayoutAlign="end center">
                        <button mat-raised-button color="primary" routerLink="purchase-orders">
                            Listado
                        </button>
                        <!-- <button mat-button>SHARE</button> -->
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
</div>