// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";

// Izitoast
@import "~izitoast/dist/css/iziToast.css";

// #wrapper-background {
//     background-color: white;
// }

app-full-layout-container,
app-simple-layout-container{
    width: 100%;
}

app-login #login{
    min-height: 100vh;
}

.create-button {
    position: absolute;
    padding-right: 2%;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.center-align {
    text-align: center;
}